{% extends 'base_generic.html' %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
<div class="container">
    <h4 class="title is-4 block">Details: </h4>
    <p class="subtitle"><strong>ID: </strong>{{ version.id }}</p>
    <p class="subtitle"><strong>Name: </strong>{{ version.name }}</p>
    <p class="subtitle"><strong>Project: </strong>{{ version.product.project.name }}</p>
    <p class="block subtitle"><strong>Product: </strong>{{ version.product.name }}</p>
    <h4 class="title is-4 block">Reports: {{ version.report_set.count }}</h4>
    <h4 class="title is-4 block">Cases: {{ version.product.case_set.count }}</h4>
    <div class="block">
        {% if version.product.case_set.count > 0 %}
        <ul>
            {% for case in version.product.case_set.all %}
            {% include 'case/partials/case.html' %}
            {% endfor %}
        </ul>
        {% else %}
        <p>There is no cases for this version!</p>
        {% endif %}
    </div>
</div>
{% endblock %}